html {
  height: 100vh;
  font-size: 100%;
  box-sizing: border-box;

  --color-dark-blue: hsl(209, 23%, 22%); /* Dark mode elements*/
  --color-dark-blue2: hsl(207, 26%, 17%); /* dark mode bg */

  --color-dark-blue3: hsl(200, 15%, 8%); /* Light mode text */
  --color-dark-gray: hsl(0, 0%, 52%); /* Light mode input */

  --color-light-gray: hsl(0, 0%, 98%); /*light mode bg */
  --white: hsl(0, 0%, 100%);
}

html[data-theme='light'] {
  --bg: var(--color-light-gray);
  --text: var(--color-dark-blue3);
  --input: var(--color-dark-gray);
  --card: var(--white);
  /* --text-header: var(--color-dark-blue3); */
}

html[data-theme='dark'] {
  --bg: var(--color-dark-blue2);
  --text: var(--white);
  --input: var(--color-dark-blue);
  --card: var(--color-dark-blue);
  /* --text-header: var(--white); */
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  list-style: 1.3;

  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;

  background-color: var(--bg);
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0px;
}

p {
  margin: 0px;
}
/* 
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
} */

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 95%;
  }
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

/* .hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
} */

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #000;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: background-color 750ms !important;
  -webkit-transition-delay: 0 !important;
  transition-delay: 0 !important;
}
